@{
    ViewData["Title"] = "Home Page";
}


<div class="main-wrapper">
    <img class="troll-img" src="/lib/image/logo.png" alt="TrollMarket">
    <h2>Selamat datang di Troll Market,</h2>
    <span>Ini adalah marketplace yang tidak pernah promosi dan diskon.</span>
    <span>Enjoy your life!</span>
</div>