

    <div class="modal-layer">
        <div class="popup-dialog form-dialog">
            <header>
                <h1>Top Up</h1>
                <a href="javascript:;" class="close-button">
                    <i class="fas fa-window-close"></i>
                </a>
            </header>
            <div>
                <form>
                    <table>
                        <input type="hidden">
                        <div>
                            <label> Add Funds</label>
                        </div>
                        <tr>
                            <td>
                                <input class="top-up-number-box" type="number" name="TopUp">
                                <div class="validation-message" data-for="topUp"></div>
                            </td>
                        </tr>

                    </table>
                    <button class="green-button-topUp" type="submit"><i class="fas fa-money-bill-wave-alt"></i> Top Up</button>
                </form>
            </div>

        </div>
    </div>
  
