<div class="popup-dialog  detail-dialog">
    <header>
        <h1>Product Detail</h1>
        <a href="javascript:;" class="close-button">
            <i class="fas fa-window-close"></i>
        </a>
    </header>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td class="name"></td>
            </tr>

            <tr>
                <td>Category</td>
                <td class="category"></td>
            </tr>

            <tr>
                <td>Description</td>
                <td class="description"></td>
            </tr>

            <tr>
                <td>Price</td>
                <td class="price"></td>
            </tr>
            <tr>
                <td>Discontinue</td>
                <td class="discontinue"></td>
            </tr>
        </tbody>
    </table>
</div>