@model int

@{
    ViewData["Title"] = "Merchandise Fail";
    ViewData["BreadCrumbs"] = "Fail To Delete / Update";
}


<h3>Failed to edit/delete Products</h3>
    <span>failed to delete product because</span>
    <span>there were <span>@Model </span> products in the transaction</span>
    <span>Enjoy your life!</span>