@{
    ViewData["Title"] = "Access Denied";
    Layout = "_SimpleLayout";
}

<h1>403 / ACCESS DENIED</h1>
<p>
    Role anda tidak memiliki feature di halaman ini.
    untuk mengetahui detail role yang memiliki akses, silahkan hubungi management.
</p>

<a href="/">Back</a>